/* =========================================================
   SEED ALL DATABASES (AuthDB, UserDB, JudgeDB)
   Run from master - SQL Server
   ========================================================= */
SET NOCOUNT ON;

------------------------------------------------------------
-- 0) SHARED MAP - GLOBAL TEMP TABLE (survives across USE/GO)
------------------------------------------------------------
IF OBJECT_ID('tempdb..##SeedUsers') IS NOT NULL DROP TABLE ##SeedUsers;

CREATE TABLE ##SeedUsers
(
    UserNo   TINYINT NOT NULL PRIMARY KEY,
    UserId   UNIQUEIDENTIFIER NOT NULL,
    Email    NVARCHAR(256) NOT NULL,
    Username NVARCHAR(50) NOT NULL
);

INSERT INTO ##SeedUsers(UserNo, UserId, Email, Username)
VALUES
(1,'11111111-1111-1111-1111-111111111111',N'user1@demo.local',N'user1'),
(2,'22222222-2222-2222-2222-222222222222',N'user2@demo.local',N'user2'),
(3,'33333333-3333-3333-3333-333333333333',N'user3@demo.local',N'user3'),
(4,'44444444-4444-4444-4444-444444444444',N'user4@demo.local',N'user4'),
(5,'55555555-5555-5555-5555-555555555555',N'user5@demo.local',N'user5');
GO


/* =========================================================
   1) AuthDB
   ========================================================= */
USE AuthDB;
GO

/* ---- Auth_Accounts (5) ---- */
;WITH S AS
(
    SELECT u.UserId, u.Email,
           CASE u.UserNo
             WHEN 1 THEN N'P@ssw0rd-User1!'
             WHEN 2 THEN N'P@ssw0rd-User2!'
             WHEN 3 THEN N'P@ssw0rd-User3!'
             WHEN 4 THEN N'P@ssw0rd-User4!'
             ELSE        N'P@ssw0rd-User5!'
           END AS Pwd,
           CASE u.UserNo WHEN 3 THEN CAST(2 AS TINYINT) ELSE CAST(1 AS TINYINT) END AS Status,
           CASE WHEN u.UserNo IN (1,2,5) THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS IsEmailVerified
    FROM ##SeedUsers u
)
INSERT INTO dbo.Auth_Accounts(UserId,Email,PasswordHash,PasswordAlgo,IsEmailVerified,Status,CreatedAt,UpdatedAt)
SELECT
    s.UserId,
    s.Email,
    HASHBYTES('SHA2_512', CONVERT(VARBINARY(MAX), s.Pwd)) AS PasswordHash,
    N'SHA2_512',
    s.IsEmailVerified,
    s.Status,
    DATEADD(DAY,-20,SYSUTCDATETIME()),
    DATEADD(DAY,-1,SYSUTCDATETIME())
FROM S s
WHERE NOT EXISTS (SELECT 1 FROM dbo.Auth_Accounts a WHERE a.UserId=s.UserId OR a.Email=s.Email);
GO

/* ---- Auth_Roles (5) ---- */
INSERT INTO dbo.Auth_Roles (Name, Description)
SELECT v.Name, v.Description
FROM (VALUES
    (N'admin',      N'Quản trị hệ thống'),
    (N'moderator',  N'Duyệt nội dung & xử lý báo cáo'),
    (N'student',    N'Sinh viên (mặc định)'),
    (N'lecturer',   N'Giảng viên'),
    (N'alumni',     N'Cựu sinh viên')
) v(Name, Description)
WHERE NOT EXISTS (SELECT 1 FROM dbo.Auth_Roles r WHERE r.Name=v.Name);
GO

/* ---- Auth_UserRoles (5) ---- */
DECLARE @R_admin INT      = (SELECT RoleId FROM dbo.Auth_Roles WHERE Name=N'admin');
DECLARE @R_mod   INT      = (SELECT RoleId FROM dbo.Auth_Roles WHERE Name=N'moderator');
DECLARE @R_stu   INT      = (SELECT RoleId FROM dbo.Auth_Roles WHERE Name=N'student');
DECLARE @R_lec   INT      = (SELECT RoleId FROM dbo.Auth_Roles WHERE Name=N'lecturer');
DECLARE @R_alum  INT      = (SELECT RoleId FROM dbo.Auth_Roles WHERE Name=N'alumni');

;WITH UR AS
(
    SELECT u.UserId,
           CASE u.UserNo
              WHEN 1 THEN @R_admin
              WHEN 2 THEN @R_stu
              WHEN 3 THEN @R_mod
              WHEN 4 THEN @R_lec
              ELSE        @R_alum
           END AS RoleId
    FROM ##SeedUsers u
)
INSERT INTO dbo.Auth_UserRoles(UserId, RoleId, AssignedAt)
SELECT ur.UserId, ur.RoleId, DATEADD(DAY,-7,SYSUTCDATETIME())
FROM UR ur
WHERE NOT EXISTS (SELECT 1 FROM dbo.Auth_UserRoles x WHERE x.UserId=ur.UserId AND x.RoleId=ur.RoleId);
GO

/* ---- Auth_RefreshTokens (5) ----
   FIX: RevokedAt must be >= IssuedAt (per CK_Auth_RefreshTokens_RevokedAt)
*/
;WITH RT AS
(
    SELECT
      CASE u.UserNo
        WHEN 1 THEN CONVERT(uniqueidentifier,'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa')
        WHEN 2 THEN CONVERT(uniqueidentifier,'bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb')
        WHEN 3 THEN CONVERT(uniqueidentifier,'cccccccc-cccc-cccc-cccc-cccccccccccc')
        WHEN 4 THEN CONVERT(uniqueidentifier,'dddddddd-dddd-dddd-dddd-dddddddddddd')
        ELSE        CONVERT(uniqueidentifier,'eeeeeeee-eeee-eeee-eeee-eeeeeeeeeeee')
      END AS TokenId,
      u.UserId,
      CONCAT(N'rt-',u.Username,N'-1') AS RawToken,
      CASE u.UserNo WHEN 4 THEN 30 WHEN 3 THEN 7 ELSE 14 END AS ExpDays,
      CONCAT(N'device-',u.Username) AS DeviceId,
      CONCAT(N'10.0.0.',10+u.UserNo) AS Ip,
      CASE u.UserNo WHEN 3 THEN N'Firefox/123' WHEN 4 THEN N'Edge/122' ELSE N'Chrome/122' END AS UA,
      DATEADD(HOUR,-12,SYSUTCDATETIME()) AS IssuedAt
    FROM ##SeedUsers u
),
RT2 AS
(
    SELECT
      rt.TokenId,
      rt.UserId,
      rt.RawToken,
      rt.IssuedAt,
      DATEADD(DAY, rt.ExpDays, rt.IssuedAt) AS ExpiresAt,
      CASE
        WHEN rt.UserId = (SELECT UserId FROM ##SeedUsers WHERE UserNo=3)
        THEN DATEADD(HOUR,-6,SYSUTCDATETIME())  -- revoked AFTER issued
        ELSE NULL
      END AS RevokedAt,
      rt.DeviceId,
      rt.Ip,
      rt.UA
    FROM RT rt
)
INSERT INTO dbo.Auth_RefreshTokens
(TokenId,UserId,TokenHash,IssuedAt,ExpiresAt,RevokedAt,ReplacedByTokenId,DeviceId,IpAddress,UserAgent)
SELECT
  rt2.TokenId,
  rt2.UserId,
  CONVERT(BINARY(32), HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX), rt2.RawToken))),
  rt2.IssuedAt,
  rt2.ExpiresAt,
  rt2.RevokedAt,
  NULL,
  rt2.DeviceId,
  rt2.Ip,
  rt2.UA
FROM RT2 rt2
WHERE NOT EXISTS (SELECT 1 FROM dbo.Auth_RefreshTokens x WHERE x.TokenId=rt2.TokenId);
GO

/* ---- Auth_LoginAuditLogs (5) ---- */
INSERT INTO dbo.Auth_LoginAuditLogs(UserId,Email,Success,FailureReason,IpAddress,UserAgent,CreatedAt)
SELECT u.UserId, u.Email, 1, NULL,
       CONCAT(N'10.0.1.',u.UserNo),
       N'Chrome/122',
       DATEADD(MINUTE, -(100-u.UserNo), SYSUTCDATETIME())
FROM ##SeedUsers u
WHERE NOT EXISTS
(
  SELECT 1 FROM dbo.Auth_LoginAuditLogs l
  WHERE l.Email=u.Email AND l.Success=1
);
GO

/* ---- Auth_OutboxEvents (5) ---- */
;WITH E AS
(
    SELECT TOP (5)
      NEWID() AS EventId,
      u.UserId AS AggregateId,
      N'Auth.AccountSeeded' AS EventType,
      CONCAT(N'{"userId":"',CONVERT(nvarchar(36),u.UserId),N'","email":"',u.Email,N'"}') AS PayloadJson,
      DATEADD(MINUTE,-(200-u.UserNo),SYSUTCDATETIME()) AS OccurredAt,
      NULL AS ProcessedAt,
      CONCAT(N'trace-auth-seed-',FORMAT(u.UserNo,'00')) AS TraceId
    FROM ##SeedUsers u
    ORDER BY u.UserNo
)
INSERT INTO dbo.Auth_OutboxEvents(EventId,AggregateId,EventType,PayloadJson,OccurredAt,ProcessedAt,TraceId)
SELECT e.EventId,e.AggregateId,e.EventType,e.PayloadJson,e.OccurredAt,e.ProcessedAt,e.TraceId
FROM E e
WHERE NOT EXISTS (SELECT 1 FROM dbo.Auth_OutboxEvents x WHERE x.TraceId=e.TraceId);
GO


/* =========================================================
   2) UserDB
   ========================================================= */
USE UserDB;
GO

/* ---- Users (5) ---- */
;WITH U AS
(
    SELECT u.UserId, u.Username,
           CASE u.UserNo WHEN 4 THEN N'GV000004'
                        WHEN 5 THEN N'AL2018005'
                        ELSE CONCAT(N'IT2022',RIGHT(N'000'+CONVERT(nvarchar(10),u.UserNo),3)) END AS StudentCode,
           CASE u.UserNo WHEN 1 THEN N'Nguyễn Văn A'
                        WHEN 2 THEN N'Trần Thị B'
                        WHEN 3 THEN N'Lê Văn C'
                        WHEN 4 THEN N'PGS.TS Phạm D'
                        ELSE        N'Võ Thị E' END AS FullName,
           CONCAT(u.Username,N'@tdmu.edu.vn') AS TDMUEmail,
           N'Khoa CNTT' AS Department,
           CASE u.UserNo WHEN 1 THEN N'Kỹ thuật phần mềm'
                        WHEN 2 THEN N'Hệ thống thông tin'
                        WHEN 3 THEN N'Khoa học máy tính'
                        WHEN 4 THEN N'Giảng dạy'
                        ELSE        N'An toàn thông tin' END AS Major,
           CASE u.UserNo WHEN 4 THEN N'GV-CNTT'
                        WHEN 5 THEN N'IT18A'
                        WHEN 3 THEN N'IT21A'
                        ELSE CONCAT(N'IT22',CHAR(64+u.UserNo)) END AS ClassName,
           CASE u.UserNo WHEN 5 THEN 2018 WHEN 3 THEN 2021 WHEN 4 THEN 2015 ELSE 2022 END AS EnrollmentYear,
           CASE u.UserNo WHEN 3 THEN CAST(2 AS TINYINT) ELSE CAST(1 AS TINYINT) END AS Status
    FROM ##SeedUsers u
)
INSERT INTO dbo.Users
(UserId,StudentCode,Username,FullName,TDMUEmail,Department,Major,ClassName,EnrollmentYear,AvatarUrl,CoverUrl,Bio,Status,CreatedAt,UpdatedAt)
SELECT
  x.UserId, x.StudentCode, x.Username, x.FullName, x.TDMUEmail, x.Department, x.Major, x.ClassName, x.EnrollmentYear,
  CONCAT(N'https://cdn.local/avatars/',x.Username,N'.png'),
  CONCAT(N'https://cdn.local/covers/',x.Username,N'.jpg'),
  CONCAT(N'Bio của ',x.FullName),
  x.Status,
  DATEADD(DAY,-20,SYSUTCDATETIME()),
  DATEADD(DAY,-1,SYSUTCDATETIME())
FROM U x
WHERE NOT EXISTS (SELECT 1 FROM dbo.Users u WHERE u.UserId=x.UserId);
GO

/* ---- UserSettings (5) ---- */
INSERT INTO dbo.UserSettings(UserId,PrivacyLevel,AllowDM,NotifyPrefsJson,UpdatedAt)
SELECT
  u.UserId,
  CASE u.UserNo WHEN 3 THEN 3 WHEN 2 THEN 2 ELSE 1 END,
  CASE u.UserNo WHEN 3 THEN 0 ELSE 1 END,
  CASE u.UserNo WHEN 1 THEN N'{"email":true,"push":true,"digest":"daily"}'
                WHEN 2 THEN N'{"email":true,"push":false,"digest":"weekly"}'
                WHEN 3 THEN N'{"email":false,"push":false}'
                WHEN 4 THEN N'{"email":true,"push":true,"digest":"weekly"}'
                ELSE        N'{"email":true,"push":true,"digest":"monthly"}' END,
  SYSUTCDATETIME()
FROM ##SeedUsers u
WHERE NOT EXISTS (SELECT 1 FROM dbo.UserSettings s WHERE s.UserId=u.UserId);
GO

/* ---- UserLinks (5) ---- */
;WITH L AS
(
  SELECT
    CASE u.UserNo
      WHEN 1 THEN CONVERT(uniqueidentifier,'60000000-0000-0000-0000-000000000001')
      WHEN 2 THEN CONVERT(uniqueidentifier,'60000000-0000-0000-0000-000000000002')
      WHEN 3 THEN CONVERT(uniqueidentifier,'60000000-0000-0000-0000-000000000003')
      WHEN 4 THEN CONVERT(uniqueidentifier,'60000000-0000-0000-0000-000000000004')
      ELSE        CONVERT(uniqueidentifier,'60000000-0000-0000-0000-000000000005')
    END AS LinkId,
    u.UserId,
    CASE u.UserNo WHEN 1 THEN N'github'
                  WHEN 2 THEN N'linkedin'
                  WHEN 3 THEN N'portfolio'
                  WHEN 4 THEN N'other'
                  ELSE        N'facebook' END AS Type,
    CASE u.UserNo WHEN 1 THEN N'https://github.com/user1'
                  WHEN 2 THEN N'https://linkedin.com/in/user2'
                  WHEN 3 THEN N'https://portfolio.local/user3'
                  WHEN 4 THEN N'https://cs.tdmu.edu.vn/lecturers/user4'
                  ELSE        N'https://facebook.com/user5' END AS Url
  FROM ##SeedUsers u
)
INSERT INTO dbo.UserLinks(LinkId,UserId,Type,Url,CreatedAt)
SELECT LinkId,UserId,Type,Url,DATEADD(DAY,-10,SYSUTCDATETIME())
FROM L
WHERE NOT EXISTS (SELECT 1 FROM dbo.UserLinks x WHERE x.LinkId=L.LinkId);
GO

/* ---- Follows (5) ---- */
INSERT INTO dbo.Follows(FollowerId,FolloweeId,CreatedAt)
SELECT v.FollowerId, v.FolloweeId, v.CreatedAt
FROM (VALUES
  ('22222222-2222-2222-2222-222222222222','11111111-1111-1111-1111-111111111111',DATEADD(DAY,-5,SYSUTCDATETIME())),
  ('33333333-3333-3333-3333-333333333333','11111111-1111-1111-1111-111111111111',DATEADD(DAY,-4,SYSUTCDATETIME())),
  ('11111111-1111-1111-1111-111111111111','22222222-2222-2222-2222-222222222222',DATEADD(DAY,-3,SYSUTCDATETIME())),
  ('55555555-5555-5555-5555-555555555555','22222222-2222-2222-2222-222222222222',DATEADD(DAY,-2,SYSUTCDATETIME())),
  ('22222222-2222-2222-2222-222222222222','55555555-5555-5555-5555-555555555555',DATEADD(DAY,-1,SYSUTCDATETIME()))
) v(FollowerId,FolloweeId,CreatedAt)
WHERE NOT EXISTS (SELECT 1 FROM dbo.Follows f WHERE f.FollowerId=v.FollowerId AND f.FolloweeId=v.FolloweeId);
GO

/* ---- FriendRequests (5) ---- */
INSERT INTO dbo.FriendRequests(RequestId,FromUserId,ToUserId,Status,IsActive,Message,CreatedAt,RespondedAt)
SELECT v.RequestId,v.FromUserId,v.ToUserId,v.Status,v.IsActive,v.Message,v.CreatedAt,v.RespondedAt
FROM (VALUES
 ('70000000-0000-0000-0000-000000000001','11111111-1111-1111-1111-111111111111','33333333-3333-3333-3333-333333333333',1,1,N'Kết bạn nhé!',DATEADD(DAY,-3,SYSUTCDATETIME()),NULL),
 ('70000000-0000-0000-0000-000000000002','22222222-2222-2222-2222-222222222222','44444444-4444-4444-4444-444444444444',2,0,N'Em chào thầy ạ',DATEADD(DAY,-10,SYSUTCDATETIME()),DATEADD(DAY,-9,SYSUTCDATETIME())),
 ('70000000-0000-0000-0000-000000000003','55555555-5555-5555-5555-555555555555','11111111-1111-1111-1111-111111111111',3,0,N'Add friend?',DATEADD(DAY,-8,SYSUTCDATETIME()),DATEADD(DAY,-7,SYSUTCDATETIME())),
 ('70000000-0000-0000-0000-000000000004','33333333-3333-3333-3333-333333333333','22222222-2222-2222-2222-222222222222',4,0,N'cancel',DATEADD(DAY,-6,SYSUTCDATETIME()),DATEADD(DAY,-6,SYSUTCDATETIME())),
 ('70000000-0000-0000-0000-000000000005','44444444-4444-4444-4444-444444444444','11111111-1111-1111-1111-111111111111',2,0,N'Thầy add em',DATEADD(DAY,-12,SYSUTCDATETIME()),DATEADD(DAY,-11,SYSUTCDATETIME()))
) v(RequestId,FromUserId,ToUserId,Status,IsActive,Message,CreatedAt,RespondedAt)
WHERE NOT EXISTS (SELECT 1 FROM dbo.FriendRequests r WHERE r.RequestId=v.RequestId);
GO

/* ---- Blocks (5) ---- */
INSERT INTO dbo.Blocks(BlockerId,BlockedId,CreatedAt)
SELECT v.BlockerId,v.BlockedId,v.CreatedAt
FROM (VALUES
 ('33333333-3333-3333-3333-333333333333','55555555-5555-5555-5555-555555555555',DATEADD(DAY,-15,SYSUTCDATETIME())),
 ('55555555-5555-5555-5555-555555555555','33333333-3333-3333-3333-333333333333',DATEADD(DAY,-14,SYSUTCDATETIME())),
 ('22222222-2222-2222-2222-222222222222','33333333-3333-3333-3333-333333333333',DATEADD(DAY,-7,SYSUTCDATETIME())),
 ('11111111-1111-1111-1111-111111111111','55555555-5555-5555-5555-555555555555',DATEADD(DAY,-2,SYSUTCDATETIME())),
 ('44444444-4444-4444-4444-444444444444','22222222-2222-2222-2222-222222222222',DATEADD(DAY,-1,SYSUTCDATETIME()))
) v(BlockerId,BlockedId,CreatedAt)
WHERE NOT EXISTS (SELECT 1 FROM dbo.Blocks b WHERE b.BlockerId=v.BlockerId AND b.BlockedId=v.BlockedId);
GO

/* ---- User_OutboxEvents (5) ---- */
;WITH E AS
(
  SELECT TOP (5)
    NEWID() EventId,
    u.UserId AggregateId,
    N'User.ProfileSeeded' EventType,
    CONCAT(N'{"userId":"',CONVERT(nvarchar(36),u.UserId),N'","username":"',u.Username,N'"}') PayloadJson,
    DATEADD(MINUTE,-(150-u.UserNo),SYSUTCDATETIME()) OccurredAt,
    NULL ProcessedAt,
    CONCAT(N'trace-user-seed-',FORMAT(u.UserNo,'00')) TraceId
  FROM ##SeedUsers u
  ORDER BY u.UserNo
)
INSERT INTO dbo.User_OutboxEvents(EventId,AggregateId,EventType,PayloadJson,OccurredAt,ProcessedAt,TraceId)
SELECT E.EventId,E.AggregateId,E.EventType,E.PayloadJson,E.OccurredAt,E.ProcessedAt,E.TraceId
FROM E
WHERE NOT EXISTS (SELECT 1 FROM dbo.User_OutboxEvents x WHERE x.TraceId=E.TraceId);
GO


/* =========================================================
   3) JudgeDB
   IMPORTANT: no GO from DECLARE vars until end of JudgeDB block
   ========================================================= */
USE JudgeDB;
GO

/* ---- Judge_Languages (5) ---- */
INSERT INTO dbo.Judge_Languages(Name,Compiler,Version,IsEnabled)
SELECT v.Name,v.Compiler,v.Version,v.IsEnabled
FROM (VALUES
 (N'C++',N'g++',N'13',1),
 (N'Java',N'javac',N'21',1),
 (N'Python',N'python',N'3.12',1),
 (N'JavaScript',N'node',N'20',1),
 (N'C#',N'dotnet',N'8',1)
) v(Name,Compiler,Version,IsEnabled)
WHERE NOT EXISTS (SELECT 1 FROM dbo.Judge_Languages l WHERE l.Name=v.Name);

DECLARE @LangCpp  INT = (SELECT LanguageId FROM dbo.Judge_Languages WHERE Name=N'C++');
DECLARE @LangJava INT = (SELECT LanguageId FROM dbo.Judge_Languages WHERE Name=N'Java');
DECLARE @LangPy   INT = (SELECT LanguageId FROM dbo.Judge_Languages WHERE Name=N'Python');
DECLARE @LangJS   INT = (SELECT LanguageId FROM dbo.Judge_Languages WHERE Name=N'JavaScript');
DECLARE @LangCS   INT = (SELECT LanguageId FROM dbo.Judge_Languages WHERE Name=N'C#');

DECLARE @P1 UNIQUEIDENTIFIER='90000000-0000-0000-0000-000000000001';
DECLARE @P2 UNIQUEIDENTIFIER='90000000-0000-0000-0000-000000000002';
DECLARE @P3 UNIQUEIDENTIFIER='90000000-0000-0000-0000-000000000003';
DECLARE @P4 UNIQUEIDENTIFIER='90000000-0000-0000-0000-000000000004';
DECLARE @P5 UNIQUEIDENTIFIER='90000000-0000-0000-0000-000000000005';

/* ---- Judge_Problems (5) ---- */
INSERT INTO dbo.Judge_Problems
(ProblemId,Title,Slug,Difficulty,TimeLimitMs,MemoryLimitMB,Statement,CreatedByUserId,IsPublic,Status,CreatedAt,UpdatedAt)
SELECT v.ProblemId,v.Title,v.Slug,v.Difficulty,v.TimeLimitMs,v.MemoryLimitMB,v.Statement,v.CreatedByUserId,v.IsPublic,v.Status,
       DATEADD(DAY,-25,SYSUTCDATETIME()),DATEADD(DAY,-2,SYSUTCDATETIME())
FROM (VALUES
 (@P1,N'Tổng hai số',        N'sum-two-integers',     1,1000,256,N'Nhập a b. In ra a+b.',
   (SELECT UserId FROM ##SeedUsers WHERE UserNo=4), 1,1),
 (@P2,N'Đếm ký tự',          N'count-characters',     2,1500,256,N'Nhập chuỗi. Đếm số ký tự chữ cái.',
   (SELECT UserId FROM ##SeedUsers WHERE UserNo=4), 1,1),
 (@P3,N'Ước chung lớn nhất', N'gcd',                  2,1000,256,N'Tính gcd(a,b).',
   (SELECT UserId FROM ##SeedUsers WHERE UserNo=1), 1,1),
 (@P4,N'Đường đi ngắn nhất', N'shortest-path-basic',  4,3000,512,N'Tìm đường đi ngắn nhất trên đồ thị vô hướng.',
   (SELECT UserId FROM ##SeedUsers WHERE UserNo=1), 1,1),
 (@P5,N'Hash chuỗi',         N'string-hash',          3,2000,256,N'Tính hash đơn giản cho chuỗi.',
   (SELECT UserId FROM ##SeedUsers WHERE UserNo=2), 0,1)
) v(ProblemId,Title,Slug,Difficulty,TimeLimitMs,MemoryLimitMB,Statement,CreatedByUserId,IsPublic,Status)
WHERE NOT EXISTS (SELECT 1 FROM dbo.Judge_Problems p WHERE p.ProblemId=v.ProblemId OR p.Slug=v.Slug);

/* ---- Judge_TestCases (5) ---- */
INSERT INTO dbo.Judge_TestCases(TestCaseId,ProblemId,InputData,OutputData,IsSample,Score,OrderNo)
SELECT v.TestCaseId,v.ProblemId,
       CONVERT(VARBINARY(MAX),v.Inp),
       CONVERT(VARBINARY(MAX),v.Outp),
       v.IsSample,v.Score,v.OrderNo
FROM (VALUES
 ('91000000-0000-0000-0000-000000000001',@P1,N'1 2',N'3',1,0,1),
 ('91000000-0000-0000-0000-000000000002',@P2,N'abc123',N'3',1,0,1),
 ('91000000-0000-0000-0000-000000000003',@P3,N'12 18',N'6',1,0,1),
 ('91000000-0000-0000-0000-000000000004',@P4,N'3 3\n1 2 1\n2 3 1\n1 3 5',N'2',1,0,1),
 ('91000000-0000-0000-0000-000000000005',@P5,N'hello',N'532',1,0,1)
) v(TestCaseId,ProblemId,Inp,Outp,IsSample,Score,OrderNo)
WHERE NOT EXISTS (SELECT 1 FROM dbo.Judge_TestCases t WHERE t.TestCaseId=v.TestCaseId);

DECLARE @S1 UNIQUEIDENTIFIER='92000000-0000-0000-0000-000000000001';
DECLARE @S2 UNIQUEIDENTIFIER='92000000-0000-0000-0000-000000000002';
DECLARE @S3 UNIQUEIDENTIFIER='92000000-0000-0000-0000-000000000003';
DECLARE @S4 UNIQUEIDENTIFIER='92000000-0000-0000-0000-000000000004';
DECLARE @S5 UNIQUEIDENTIFIER='92000000-0000-0000-0000-000000000005';

/* ---- Judge_Submissions (5) ---- */
;WITH SUB AS
(
  SELECT @S1 SubmissionId,@P1 ProblemId,(SELECT UserId FROM ##SeedUsers WHERE UserNo=1) UserId,@LangCpp LanguageId,
         N'#include <bits/stdc++.h>\nint main(){long long a,b; if(!(std::cin>>a>>b)) return 0; std::cout<<a+b;}' Code,
         3 Status,12 TimeMs,1024 MemKB,100 Score,NULL Msg UNION ALL
  SELECT @S2,@P2,(SELECT UserId FROM ##SeedUsers WHERE UserNo=2),@LangPy,
         N's=input().strip()\nprint(sum(c.isalpha() for c in s))',
         3,20,2048,100,NULL UNION ALL
  SELECT @S3,@P3,(SELECT UserId FROM ##SeedUsers WHERE UserNo=3),@LangJava,
         N'class Main{public static void main(String[]a)throws Exception{java.util.Scanner sc=new java.util.Scanner(System.in);long x=sc.nextLong(),y=sc.nextLong();while(y!=0){long t=x%y;x=y;y=t;}System.out.print(x);} }',
         4,0,0,0,N'WA on hidden tests' UNION ALL
  SELECT @S4,@P4,(SELECT UserId FROM ##SeedUsers WHERE UserNo=1),@LangCS,
         N'using System; class P{static void Main(){Console.WriteLine(2);}}',
         3,55,4096,100,NULL UNION ALL
  SELECT @S5,@P5,(SELECT UserId FROM ##SeedUsers WHERE UserNo=5),@LangJS,
         N'const fs=require("fs");const s=fs.readFileSync(0,"utf8").trim();let h=0;for(const ch of s){h=(h+ch.charCodeAt(0))%1000;}console.log(h);',
         3,18,1536,100,NULL
)
INSERT INTO dbo.Judge_Submissions
(SubmissionId,ProblemId,UserId,LanguageId,SourceCode,CodeHash,SubmittedAt,Status,TotalTimeMs,TotalMemoryKB,Score,CompilerMessage)
SELECT
  s.SubmissionId,s.ProblemId,s.UserId,s.LanguageId,
  s.Code,
  CONVERT(BINARY(32),HASHBYTES('SHA2_256',CONVERT(VARBINARY(MAX),s.Code))),
  DATEADD(MINUTE,-40,SYSUTCDATETIME()),
  s.Status,s.TimeMs,s.MemKB,s.Score,s.Msg
FROM SUB s
WHERE NOT EXISTS (SELECT 1 FROM dbo.Judge_Submissions x WHERE x.SubmissionId=s.SubmissionId);

/* ---- Judge_SubmissionTestResults (5) ---- */
INSERT INTO dbo.Judge_SubmissionTestResults(SubmissionId,TestCaseId,Status,TimeMs,MemoryKB,ErrorMessage,CreatedAt)
SELECT v.SubmissionId,v.TestCaseId,v.Status,v.TimeMs,v.MemoryKB,v.Err,DATEADD(MINUTE,-35,SYSUTCDATETIME())
FROM (VALUES
 (@S1,'91000000-0000-0000-0000-000000000001',1,12,1024,NULL),
 (@S2,'91000000-0000-0000-0000-000000000002',1,20,2048,NULL),
 (@S3,'91000000-0000-0000-0000-000000000003',2,0,0,N'Wrong Answer'),
 (@S4,'91000000-0000-0000-0000-000000000004',1,55,4096,NULL),
 (@S5,'91000000-0000-0000-0000-000000000005',1,18,1536,NULL)
) v(SubmissionId,TestCaseId,Status,TimeMs,MemoryKB,Err)
WHERE NOT EXISTS
(
  SELECT 1 FROM dbo.Judge_SubmissionTestResults r
  WHERE r.SubmissionId=v.SubmissionId AND r.TestCaseId=v.TestCaseId
);

/* ---- Judge_UserProblemStats (5) ---- */
INSERT INTO dbo.Judge_UserProblemStats(UserId,ProblemId,BestStatus,BestTimeMs,BestMemoryKB,Attempts,LastSubmittedAt,FirstAcceptedAt)
SELECT v.UserId,v.ProblemId,v.BestStatus,v.BestTimeMs,v.BestMemoryKB,v.Attempts,v.LastSubmittedAt,v.FirstAcceptedAt
FROM (VALUES
 ((SELECT UserId FROM ##SeedUsers WHERE UserNo=1),@P1,3,12,1024,1,DATEADD(MINUTE,-40,SYSUTCDATETIME()),DATEADD(MINUTE,-40,SYSUTCDATETIME())),
 ((SELECT UserId FROM ##SeedUsers WHERE UserNo=2),@P2,3,20,2048,1,DATEADD(MINUTE,-39,SYSUTCDATETIME()),DATEADD(MINUTE,-39,SYSUTCDATETIME())),
 ((SELECT UserId FROM ##SeedUsers WHERE UserNo=3),@P3,4,NULL,NULL,2,DATEADD(MINUTE,-38,SYSUTCDATETIME()),NULL),
 ((SELECT UserId FROM ##SeedUsers WHERE UserNo=1),@P4,3,55,4096,1,DATEADD(MINUTE,-37,SYSUTCDATETIME()),DATEADD(MINUTE,-37,SYSUTCDATETIME())),
 ((SELECT UserId FROM ##SeedUsers WHERE UserNo=5),@P5,3,18,1536,1,DATEADD(MINUTE,-36,SYSUTCDATETIME()),DATEADD(MINUTE,-36,SYSUTCDATETIME()))
) v(UserId,ProblemId,BestStatus,BestTimeMs,BestMemoryKB,Attempts,LastSubmittedAt,FirstAcceptedAt)
WHERE NOT EXISTS (SELECT 1 FROM dbo.Judge_UserProblemStats s WHERE s.UserId=v.UserId AND s.ProblemId=v.ProblemId);

/* ---- Judge_OutboxEvents (5) ---- */
;WITH E AS
(
  SELECT
    NEWID() AS EventId,
    x.AggregateId,
    x.EventType,
    x.PayloadJson,
    x.OccurredAt,
    NULL AS ProcessedAt,
    x.TraceId
  FROM (VALUES
    (@P1, N'Judge.ProblemCreated',      N'{"problemId":"90000000-0000-0000-0000-000000000001"}', DATEADD(MINUTE,-200,SYSUTCDATETIME()), N'trace-judge-seed-01'),
    (@S1, N'Judge.SubmissionAccepted',  N'{"submissionId":"92000000-0000-0000-0000-000000000001","status":"AC"}', DATEADD(MINUTE,-40,SYSUTCDATETIME()),  N'trace-judge-seed-02'),
    (@S3, N'Judge.SubmissionJudged',    N'{"submissionId":"92000000-0000-0000-0000-000000000003","status":"WA"}', DATEADD(MINUTE,-38,SYSUTCDATETIME()),  N'trace-judge-seed-03'),
    ((SELECT UserId FROM ##SeedUsers WHERE UserNo=1), N'Judge.UserStatsUpdated', N'{"userId":"11111111-1111-1111-1111-111111111111"}', DATEADD(MINUTE,-37,SYSUTCDATETIME()), N'trace-judge-seed-04'),
    (@P4, N'Judge.ProblemPublished',    N'{"problemId":"90000000-0000-0000-0000-000000000004","isPublic":true}', DATEADD(MINUTE,-36,SYSUTCDATETIME()), N'trace-judge-seed-05')
  ) x(AggregateId,EventType,PayloadJson,OccurredAt,TraceId)
)
INSERT INTO dbo.Judge_OutboxEvents(EventId,AggregateId,EventType,PayloadJson,OccurredAt,ProcessedAt,TraceId)
SELECT e.EventId,e.AggregateId,e.EventType,e.PayloadJson,e.OccurredAt,e.ProcessedAt,e.TraceId
FROM E e
WHERE NOT EXISTS (SELECT 1 FROM dbo.Judge_OutboxEvents o WHERE o.TraceId=e.TraceId);
GO
